@using WebsiteNews.Models;
@{
    ViewBag.Title = "DoiMatKhau";
    Layout = "~/Views/Shared/_Layout.cshtml";
    tbNguoiDung nd = (tbNguoiDung)Session["nguoidung"];
    if(nd == null)
    {
        Response.Redirect("/DangNhap/TaiKhoanNguoiDung");
    }

}

<div class="container">
    <h2 style="text-align:center"> Đổi mật khẩu  </h2>
</div>
<div class="container shadow p-3 mb-5 bg-white rounded" style="width: 35%">
    <form action="@Url.Action("DoiMatKhau","NguoiDung")" method="post">
        <i class="fa fa-lock"></i>
        <input type="password" name="frMatKhauCu" placeholder="Nhập mật khẩu củ" autofocus style="width:100%; margin-bottom:2%; height:40px;" />
        <div class="clearfix"></div>
        <i class="fa fa-lock"></i>
        <input type="password" name="frmMatKhauMoi" placeholder="Nhập mật khẩu mới" autofocus style="width:100%; margin-bottom:2%; height:40px;" />
        <div class="clearfix"></div>
        <i class="fa fa-lock"></i>
        <input type="password" name="frmNhapLaiMatKhauMoi" placeholder="Nhập lại mật khẩu mới" autofocus style="width:100%; margin-bottom:2%; height:40px;" />
        <div class="clearfix"></div>
        <div class="row">
            <input type="submit" value="Đổi mật khẩu" class="btn btn-secondary" style="width:100%; margin-bottom:2%;" />
        </div>
    </form>
    <b style="color:red">@ViewBag.thongbao11</b>
    <b style="color:red">@ViewBag.thongbao10</b>
</div>

